#language-select {
    position: absolute;
    top: 20px;
    right: 20px;
  }
body {
    background: no-repeat linear-gradient(0deg, blue, cyan, lightgreen);
    height: 100vh;
  }

#scanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  #video {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
  }

  .scan-prompt {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
  }